
body {
    font-family: Arial, sans-serif; /* czcionka */
    text-align: center; /* To wyśrodkowuje przyciski */
    background-color: #f4f4f9; /*kolor tła */
    margin: 0; /* margines */
    padding: 0; /* odsuniecie tekstu od ramki */
}

header {
    background-color: #005696; /* kolor tego paska u gory */
    color: white; /* kolor napisow na pasku */
    padding: 20px 0; /* odsuniecie napisow od krancow tego paska niebieskiego*/
    margin-bottom: 20px; /* margines */
}

button {
    padding: 15px 30px; /* odsuniecie tekstu od ramki */
    margin: 10px; /* margines */
    font-size: 16px; /* rozmiar czcionki */
    cursor: pointer; /* zmienia kursor w raczke */
    background-color: #007acc; /* kolor przycisku normalnie */
    color: white; /* kolor napisu na przyciskach */
    border: none; /* obramowanie */
    border-radius: 10px; /* zaokraglenie krawedzi przyciskow */
}

button:hover {
    background-color: #005fa3; /* kolor przycisku po najechaniu */
}

.widok-pietra {
    display: none; /* Ukrywa widoki na start */
}

.mapa-szpitala{
    display: grid;
    grid-template-rows: 1fr 60px 1fr;    /*3 rzedy, pokoje / korytarz / pokoje */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /*automatyczne kolumny*/
    gap: 25px;
    width: 95%;
    max-width: 1800px;
    margin: 30px auto;
    background-color: #f4f4f9;
    padding: 30px;
    border: none;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.mapa-szpitala::before {
    content: "KORYTARZ";
    grid-row: 2; /*korytarz w 2 rzedzie i jest na cala szerokosc */
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border: 2px solid #000;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 5px;
    color: #555;
    z-index: 0;
}

.pokoj-wrapper { /*pokoj i lista razem*/
    display: flex;
    flex-direction: column;
    z-index: 1; /*to zeby pokoje byly nad korytarzem */
}

.pokoj-wrapper:nth-child(odd) { /*nieparzyste ida na gore*/
    grid-row: 1;
}

.pokoj-wrapper:nth-child(even) { /*parzyste na dol*/
    grid-row: 3;
}

.sala {
    background-color: #fff;
    border: 3px solid #005696;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sala:hover {
    background-color: #e3f2fd; /*podswietlenie po najechaniu */
    transform: scale(1.03);
}

.lista-sprzetu{
    background: white;
    border: 1px dashed #666;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    z-index: 10;
    display: none; /* lista domyślnie ukryta */
}

.btn-sprzet {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-sprzet:hover {
    background-color: #218838;
}

.modal {
    display: none; /*ukryta na poczatku */
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /*takie ciemniejsze tlo */
}

.modal-tresc {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-tresc img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    max-height: 300px;
    object-fit: contain;
}

.zamknij {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


